PORT=3000
DATA_MODE=memory
CLIENT_ORIGINS=https://el-teu-frontend.vercel.app,http://localhost:3000
MONGODB_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/bacalla_db?retryWrites=true&w=majority
